*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(25, 25, 25);
    height: 100%;
}
header{
    order: 1;
    width: fit-content;
    height: 20%;
    display: flex;
    justify-content: center;
}
header > img{
    padding: 7%;
    width: 60%;
    height: 20%;
}
nav{
    order: 2;
    padding: 10px;
    display: flex;
    background-color: rgb(75, 75, 75);
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}
nav a{
    color: white;
}
ul{
    list-style-type: none;

}
ul li{
    display: inline-flex;
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    margin: 0 20px;
}
ul li:hover{
    transform: scale(1.5);
}
main{
    order: 3;
    margin-bottom: 250px;
}
main .sec1{
    display: flex;
    margin: 20px;
    justify-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}
.sec1 > img{
    width: -webkit-fill-available;
    transition-duration: 1.5s;
}
.sec1 > img:hover{
    transform: scale(1.1);
}
main .sec2{
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    color: white;
}
.artc1{
    padding: 10px;
    background-color: rgb(75, 75, 75);
    width: calc(96%/3);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-duration: 1.5s;
}
.artc1 >img{
    margin: 5px;
}
.artc1:hover{
    transform: scale(1.1);
}
.artc2{
    padding: 10px;
    background-color: rgb(75, 75, 75);
    width: calc(96%/3);
    min-width: 300px;
    transition-duration: 1.5s;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.artc2:hover{
    transform: scale(1.1);
}
.artc3{    
    padding: 10px;
    background-color: rgb(75, 75, 75);
    width: calc(96%/3);
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition-duration: 1.5s;

}
.artc3:hover{
    transform: scale(1.1);
}
footer{
    order: 4;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
footer > .div1{
    order: 1;
    display: flex;
    justify-content: center;
    width: calc(96%/2);
}
.div1 > img{
    width: 68.1px;
    height: 120px;

}
footer > .div2{
    order: 2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(96%/2);
}

